.product-page-comments {
  margin: 50px 20px 0;

  h2 {
    margin-bottom: 20px;
  }
  button {
    margin-bottom: 30px;
  }
}

.product-comments-block {
  background: rgb(241, 237, 237);
  border-radius: 20px;
  margin: 10px 0;
  padding: 20px;

  span {
    margin-right: 20px;
  }
  div {
    margin-top: 15px;
  }
}
