.product-page-block {
  display: flex;
  box-shadow: 3px 3px 3px 3px grey;
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
}

.product-page-content {
  display: flex;
  margin-left: 30px;
  flex-direction: column;
  justify-content: space-between;
}

.product-page-icons {
  display: flex;

  div {
    margin-right: 50px;
  }
}


